:root {
  --tok-padding-l: 1.5rem;

  --tok-primary: #e3ff2b;
  --tok-primary-text: var(--tok-dark);
}

// modify dark theme here if you want
html[data-theme='dark'] {
  --tok-primary: #e3ff2b;
  --tok-primary-text: var(--tok-dark);
}
